In [1]:
import numpy as np
import pandas as pd

In [2]:
from src.io import read_fasta, read_fastq, read_maf, read_from_folder, read_paf

In [3]:
ref_df, fastq_df, maf_df = read_from_folder("data")

In [4]:
! src/utils/minimap.sh

[M::mm_idx_gen::1.905*1.28] collected minimizers
[M::mm_idx_gen::2.801*1.78] sorted minimizers
[M::main::2.801*1.78] loaded/built the index for 22288 target sequence(s)
[M::mm_mapopt_update::3.099*1.70] mid_occ = 36
[M::mm_idx_stat] kmer size: 19; skip: 5; is_hpc: 1; #seq: 22288
[M::mm_idx_stat::3.306*1.66] distinct minimizers: 26891828 (81.45% are singletons); average occurrences: 1.798; average spacing: 4.172; total length: 201749720
[M::worker_pipeline::17.687*2.66] mapped 22288 sequences
[M::main] Version: 2.28-r1209
[M::main] CMD: minimap2 -x ava-pb data/reads.fq data/reads.fq
[M::main] Real time: 17.707 sec; CPU: 46.982 sec; Peak RSS: 1.669 GB

In [5]:
paf_df = read_paf("data/ovlp.paf")

In [48]:
fastq_df

,seq_id,sequence,quality
0,ecoli21_1,TTTTCTTCTTACTACCCCACCTCGCGTTCAGATATACTTGAAGACG...,"$#$*).-.(-&.--,'-,,-,-$#%'')(,**.-)(+&''$)-,(,..."
1,ecoli21_2,TTGGGAATATTCCCGAAGCGTGAATCTTCCTGCGAGTCACAAAATA...,",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,ecoli21_3,AACAGTGCGATTGATCGTCCCCACGATTTAAAGCAATGTATCCCAG...,"-,,-,--,----,,--,--,---,,,,,,,,,-,,-,-,,-,-,--..."
3,ecoli21_4,GCTAACGATAATAGTACCTCCTCTGGGATTTTTAATGTATGTTTCT...,-..----...---------..----.-----..-------...-.....
4,ecoli21_5,ACTATGAATGGGTTTAGTCAGAAGTATATTTGATGGCGGTTATAAA...,"-,-,-,,,,-,---,,-,,--,-,,-,,-,-,-,,---,,,,,,,,..."
...,...,...,...
10208,ecoli11_10209,TGAGCAGGACATCAAAAATAAAGCTGAAGGGGCACTCACGCTTTCG...,----.---.---.-------.-.---.----.--.-.------.--...
10209,ecoli11_10210,AACTGGGCACGCACGCCTGAACGGTGCTAAAAACATCACCGCGCGA...,"%""$'(&+---(.+**.*),.)*-,)-)*+.'(..'&#(.(*.#.%...."
10210,ecoli11_10211,CTCCCAAACGTGCGCATGTTCGGACCTTGTTTCTCCCCCGGTTTCC...,"!##!)##&#%#+,#$($&%##%%$*&*(#(')$$%%#('*+%$#&%..."
10211,ecoli11_10212,TGTGCATTCCGAACACTCAGGGGTAAAACGGATACAACCTTTTCTG...,"-,,--,----,,--,,,---,,---,----,-----,-,-,-,,--..."
10212,ecoli11_10213,GTTTTTTACAGTCCGGGCATTTGATGCGTGCTTATGTACCTGGATT...,"*###$#!+###(*&'+&+*&&'+,+#$,,/-&$(-.).%.)//.//..."

In [6]:
paf_df

,q_seq_name,q_seq_len,q_start,q_end,strand,t_seq_name,t_seq_len,t_start,t_end,n_res_match,align_block_len,map_quality
0,ecoli11_1,4059,145,3884,+,ecoli11_2357,26634,18273,21899,778,3751,0
1,ecoli11_1,4059,123,3892,+,ecoli11_5707,13465,1344,4968,611,3773,0
2,ecoli11_1,4059,30,3520,-,ecoli11_1782,27308,4708,8117,604,3520,0
3,ecoli11_1,4059,35,3747,+,ecoli11_4457,11099,1544,5159,611,3729,0
4,ecoli11_1,4059,128,3892,+,ecoli11_7463,14702,554,4220,578,3769,0
...,...,...,...,...,...,...,...,...,...,...,...,...
876693,ecoli21_12075,8221,172,1200,+,ecoli21_2207,9267,8074,9104,266,1036,0
876694,ecoli21_12075,8221,3439,4183,-,ecoli21_7740,1084,126,878,240,766,0
876695,ecoli21_12075,8221,7315,8155,-,ecoli21_968,11408,10552,11403,178,853,0
876696,ecoli21_12075,8221,5340,5760,+,ecoli21_4455,674,62,466,166,421,0
876697,ecoli21_12075,8221,7568,8155,+,ecoli21_5991,1800,31,628,145,603,0

In [50]:
import tqdm 
for target in tqdm.tqdm(fastq_df.seq_id):
    paf_target = paf_df[paf_df["q_seq_name"] == target]

python(34259) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
 17%|██████▍                               | 3761/22288 [01:20<06:36, 46.71it/s]

KeyboardInterrupt:

In [46]:
6790 + 5600

12390

In [44]:
paf_target

,q_seq_name,q_seq_len,q_start,q_end,strand,t_seq_name,t_seq_len,t_start,t_end,n_res_match,align_block_len,map_quality
612934,ecoli21_1,5702,37,5556,-,ecoli21_7944,14087,6790,12240,1754,5600,0
612935,ecoli21_1,5702,37,5556,-,ecoli21_9044,15883,8,5457,1699,5575,0
612936,ecoli21_1,5702,37,5574,-,ecoli21_11078,17336,3954,9418,1717,5598,0
612937,ecoli21_1,5702,107,5574,+,ecoli21_3485,14651,5758,11189,1673,5551,0
612938,ecoli21_1,5702,37,4758,-,ecoli21_9424,15835,240,4900,1661,4787,0
612939,ecoli21_1,5702,187,5574,+,ecoli21_10373,9215,701,6051,1640,5476,0
612940,ecoli21_1,5702,37,5567,-,ecoli21_3326,12086,4256,9721,1584,5604,0
612941,ecoli21_1,5702,187,5574,-,ecoli21_6472,17716,2554,7882,1523,5456,0
612942,ecoli21_1,5702,187,5462,+,ecoli21_3751,23821,11306,16535,1415,5333,0
612943,ecoli21_1,5702,278,5462,-,ecoli21_7292,13554,1647,6799,1427,5268,0
612944,ecoli21_1,5702,1342,5574,-,ecoli21_1120,5905,1660,5854,1313,4294,0
612945,ecoli21_1,5702,37,4637,+,ecoli21_2009,8450,3869,8447,1148,4661,0
612946,ecoli21_1,5702,187,5497,-,ecoli21_7570,17752,1429,6689,1074,5379,0
612947,ecoli21_1,5702,493,4749,+,ecoli21_5105,6298,1714,5964,1043,4321,0
612948,ecoli21_1,5702,37,3622,-,ecoli21_5308,5216,219,3760,1029,3630,0
612949,ecoli21_1,5702,1111,5642,-,ecoli21_7228,4715,177,4643,972,4561,0
612950,ecoli21_1,5702,37,2394,-,ecoli21_5872,2969,17,2355,815,2393,0
612951,ecoli21_1,5702,37,4758,+,ecoli21_7269,8756,3993,8750,835,4829,0
612952,ecoli21_1,5702,2120,5177,+,ecoli21_9897,3183,88,3154,674,3115,0
612953,ecoli21_1,5702,271,5305,-,ecoli21_9380,17991,156,5149,664,5098,0
612954,ecoli21_1,5702,93,2216,+,ecoli21_1831,13685,11447,13554,625,2161,0
612955,ecoli21_1,5702,187,2223,-,ecoli21_10214,5752,345,2355,626,2072,0
612956,ecoli21_1,5702,1766,5419,+,ecoli21_5343,6233,50,3743,504,3718,0
612957,ecoli21_1,5702,3399,5417,+,ecoli21_4243,21916,20,2031,468,2039,0
612958,ecoli21_1,5702,3981,5574,+,ecoli21_8727,3811,174,1765,468,1634,0
612959,ecoli21_1,5702,37,1850,+,ecoli21_3595,8573,6660,8487,461,1852,0
612960,ecoli21_1,5702,187,1301,-,ecoli21_40,8126,75,1181,391,1130,0
612961,ecoli21_1,5702,274,1226,+,ecoli21_4935,5638,4605,5548,344,974,0
612962,ecoli21_1,5702,395,1301,-,ecoli21_9966,14000,267,1166,253,923,0

In [45]:
maf_df

,ref_seq_id,ref_start,ref_lenght,A,B,ref_seq_alignment,seq_id,start,lenght,C,D,seq_alignment
0,CP019944.1 Escherichia coli strain DSM 103246 ...,338965,5594,+,5445834,---TCTTCTT-CTAC-CCAGCCT-GCG-TCAGATAT-CTATGAAGA...,ecoli21_1,0,5702,+,5702,TTTTCTTCTTACTACCCCA-CCTCGCGTTCAGATATACT-TGAAGA...
1,CP019944.1 Escherichia coli strain DSM 103246 ...,3998799,1147,+,5445834,AG-ATGGTTCCTTGCAGGGA-AT-GCTGCGGGTCGCCAATTTACCG...,ecoli21_2,0,1161,-,1161,AGAATGGTTCCTTGCAGGGAAATTGCTGCGGGTCGCCAATTTACCG...
2,CP019944.1 Escherichia coli strain DSM 103246 ...,3744404,11597,+,5445834,-ACAGTGCG-TTGATCTGTTCCCCACGATTTAAAGCAATGTATCCC...,ecoli21_3,0,11724,+,11724,AACAGTGCGATTGATC-G-TCCCCACGATTTAAAGCAATGTATCCC...
3,CP019944.1 Escherichia coli strain DSM 103246 ...,4178836,19811,+,5445834,CGTGTGGCTGCCAAGGGCATGAAGTTCAACCCGAGAAAAAGTGAAA...,ecoli21_4,0,19980,-,19980,CGTGTGGCTGCCAAGGGCATGAAGTTCAACCCGAGAAAAAGTGAAA...
4,CP019944.1 Escherichia coli strain DSM 103246 ...,31408,3582,+,5445834,ACTATGAATGGGTTTAGTCAGAAGATATATTTGATGGCGGTTAATA...,ecoli21_5,0,3618,+,3618,ACTATGAATGGGTTTAGTCAGAAG-TATATTTGATGGCGGTT-ATA...
...,...,...,...,...,...,...,...,...,...,...,...,...
10208,U00096.3 Escherichia coli str. K-12 substr. MG...,1100759,14342,+,4641652,TGAGCAGGAA-ATCAAAAATAAAGCGTG-AGGGGCACTCACGCTTT...,ecoli11_10209,0,14482,+,14482,TGAGCAGGA-CATCAAAAATAAAGC-TGAAGGGGCACTCACGCTTT...
10209,U00096.3 Escherichia coli str. K-12 substr. MG...,4294693,26939,+,4641652,G-G-T-GATGCCAAACAGCTCGGGCGTATTGGC-GCGA-AAACCAT...,ecoli11_10210,0,27373,-,27373,GGGGTTGATGCC-AACAGCTCGGGCGTATTGGCTG-G-AAAACCAT...
10210,U00096.3 Escherichia coli str. K-12 substr. MG...,1259852,1809,+,4641652,CTGTC-CA-A-CCAGTT-CGC-TGTTC-G-CCTTGTG-TTTCG-TC...,ecoli11_10211,0,1828,+,1828,C--TCCCAA-A-C-GT-GCGCATGTTCGGACCTTG--TTT-C-TCC...
10211,U00096.3 Escherichia coli str. K-12 substr. MG...,2769642,1933,+,4641652,CCCCCCTCTTTAAAG-TAATCACATCATTTTCA-GTCAGTTAA-CT...,ecoli11_10212,0,1969,-,1969,CCCCCCTCTTT-AAGCTAATCACATC-TTTTCACGTCAGTTAATCT...
10212,U00096.3 Escherichia coli str. K-12 substr. MG...,119830,2850,+,4641652,G--TTT-ACAGTCC-GGCAT-TGATGCCGTGCTTCATGTA-CTGGA...,ecoli11_10213,0,2907,+,2907,GTTTTTTACAGTCCGGGCATTTGATGC-GTGCTT-ATGTACCTGGA...

In [17]:
target_start = paf_target["q_start"].min()
target_end   = paf_target["q_end"].max()

max_str_lenght = 500

In [35]:
for c in range(target_start, target_end, max_str_lenght):
    paf_target_window = paf_target[(paf_target["q_start"] <= c) & (paf_target["q_end"] >= (c + max_str_lenght))]
    for row in paf_target_window.iterrows():
        row = row[1]
        print(row["t_seq_name"], row["t_start"], row["t_end"])
        print(len(fastq_df[fastq_df["seq_id"] == row["t_seq_name"]]["sequence"].values[0][row["t_start"]:row["t_end"]]))
        break
    break

ecoli21_7944 6790 12240
5450

In [20]:
x

,q_seq_name,q_seq_len,q_start,q_end,strand,t_seq_name,t_seq_len,t_start,t_end,n_res_match,align_block_len,map_quality
612934,ecoli21_1,5702,37,5556,-,ecoli21_7944,14087,6790,12240,1754,5600,0
612935,ecoli21_1,5702,37,5556,-,ecoli21_9044,15883,8,5457,1699,5575,0
612936,ecoli21_1,5702,37,5574,-,ecoli21_11078,17336,3954,9418,1717,5598,0
612938,ecoli21_1,5702,37,4758,-,ecoli21_9424,15835,240,4900,1661,4787,0
612940,ecoli21_1,5702,37,5567,-,ecoli21_3326,12086,4256,9721,1584,5604,0
612945,ecoli21_1,5702,37,4637,+,ecoli21_2009,8450,3869,8447,1148,4661,0
612948,ecoli21_1,5702,37,3622,-,ecoli21_5308,5216,219,3760,1029,3630,0
612950,ecoli21_1,5702,37,2394,-,ecoli21_5872,2969,17,2355,815,2393,0
612951,ecoli21_1,5702,37,4758,+,ecoli21_7269,8756,3993,8750,835,4829,0
612959,ecoli21_1,5702,37,1850,+,ecoli21_3595,8573,6660,8487,461,1852,0

In [18]:
t_seqs_maf = maf_df[maf_df["seq_id"].isin(t_seqs)]

In [29]:
paf_df[paf_df["t_seq_name"] == seq_id]

,q_seq_name,q_seq_len,q_start,q_end,strand,t_seq_name,t_seq_len,t_start,t_end,n_res_match,align_block_len,map_quality
18313,ecoli11_264,19357,14259,18677,+,ecoli21_1,5702,40,4455,697,4484,0
36019,ecoli11_524,13931,10560,13671,+,ecoli21_1,5702,257,3431,697,3198,0
85056,ecoli11_1327,4652,77,2793,-,ecoli21_1,5702,41,2775,510,2768,0
108231,ecoli11_1614,4203,2145,4100,+,ecoli21_1,5702,272,2244,273,2000,0
120052,ecoli11_1757,9092,6779,9003,-,ecoli21_1,5702,2100,4335,370,2261,0
129885,ecoli11_1875,8458,436,4672,-,ecoli21_1,5702,187,4455,850,4322,0
158848,ecoli11_2263,12078,4697,9088,-,ecoli21_1,5702,45,4455,633,4453,0
197108,ecoli11_2788,7394,4193,7298,+,ecoli21_1,5702,41,3175,591,3185,0
225416,ecoli11_3188,6733,1642,5619,+,ecoli21_1,5702,41,4014,771,4043,0
292930,ecoli11_4187,8689,70,2783,-,ecoli21_1,5702,272,3020,506,2773,0
302998,ecoli11_4335,6133,8,2335,-,ecoli21_1,5702,47,2377,531,2367,0
304325,ecoli11_4355,12270,3646,7646,-,ecoli21_1,5702,114,4100,557,4062,0
319647,ecoli11_4602,4662,3624,4606,+,ecoli21_1,5702,46,1002,375,996,0
339264,ecoli11_4928,18433,328,2096,+,ecoli21_1,5702,2565,4348,423,1795,0
386117,ecoli11_5726,10276,213,2560,+,ecoli21_1,5702,2102,4455,472,2378,0
424067,ecoli11_6391,41526,23555,27934,-,ecoli21_1,5702,47,4455,856,4455,0
448447,ecoli11_6852,6997,48,3441,+,ecoli21_1,5702,904,4331,600,3458,0
456508,ecoli11_7003,20828,19331,20711,-,ecoli21_1,5702,2983,4348,273,1389,0
485655,ecoli11_7552,11631,2444,6841,+,ecoli21_1,5702,42,4455,739,4451,0
508859,ecoli11_8025,6560,826,4909,-,ecoli21_1,5702,276,4337,602,4118,0
515639,ecoli11_8168,7210,1876,6249,+,ecoli21_1,5702,41,4455,905,4466,0
528176,ecoli11_8434,15001,190,4472,+,ecoli21_1,5702,41,4331,904,4373,0
533580,ecoli11_8543,10528,1121,5351,-,ecoli21_1,5702,93,4348,538,4296,0
540460,ecoli11_8695,9117,7232,9094,-,ecoli21_1,5702,2564,4455,417,1914,0
557020,ecoli11_9072,12691,5575,9938,+,ecoli21_1,5702,47,4337,327,4383,0
565992,ecoli11_9271,14813,10774,14754,-,ecoli21_1,5702,402,4415,661,4062,0
575757,ecoli11_9498,8937,130,4274,+,ecoli21_1,5702,185,4348,718,4221,0
593656,ecoli11_9942,5366,4881,5365,+,ecoli21_1,5702,47,522,101,484,0
594045,ecoli11_9954,7573,5090,7556,+,ecoli21_1,5702,270,2780,409,2531,0
893369,U00096.3,4641652,3592881,3597225,-,ecoli21_1,5702,41,4455,1341,4455,0
916803,CP019944.1,5445834,338997,344428,+,ecoli21_1,5702,41,5574,2511,5602,0

In [7]:
t_seqs_ref_start = t_seqs_maf["ref_start"].astype(np.int32)
t_seqs_ref_end   = t_seqs_ref_start + t_seqs_maf["ref_lenght"].astype(np.int32)

max_str_lenght = 500
start = t_seqs_ref_start.min()
end   = t_seqs_ref_end.max()
for c in range(start, end, max_str_lenght):
    a = t_seqs_maf[(t_seqs_ref_start <= c) & (t_seqs_ref_end >= (c + max_str_lenght))]
    if len(a) > 1:
        break

In [8]:
a

,ref_seq_id,ref_start,ref_lenght,A,B,ref_seq_alignment,seq_id,start,lenght,C,D,seq_alignment
9379,CP019944.1 Escherichia coli strain DSM 103246 ...,326608,17710,+,5445834,-TTTTTACCTTTACTTAA-CGGCGT-CGGGCTTGCTTATGCCCTG-...,ecoli21_9380,0,17991,-,17991,TTTTTTACCTT-ACTTAAACGGCGTCC-GGCTTGCTTATGCCCTCG...
9965,CP019944.1 Escherichia coli strain DSM 103246 ...,326706,13812,+,5445834,TATC-TCCGTCATTCTGATGTTAGCGCTATATT-ACACT-TTCCTG...,ecoli21_9966,0,14000,-,14000,TATCCTCCGTCATTCTGATGTTAGCG-TATATTTACACTGTTCCTG...

In [11]:
s = ref_df[ref_df["ref_seq_id"] == a["ref_seq_id"][9379]].sequence[0]

In [12]:
s[c:(c+500)]

'TGGCGCGTCGTTAATACCGTCACCGACCATCGCCAGCGGCGCATGTTGATTCAGCTCGGTCACCGCTTTGACTTTATCTTCCGGCAACAGGCCCGCTTTAAACTCCAGCCCCAGCTCCCCGGCAATTGCCGCCGCTGCGCGTGGATTATCGCCGGTGAGGATCACCCCTTTGACGCCCAGCGCGTTCAGTTCACTGATGGCAGTTGCAGCATCGGCGCGCAGGGTATCCTGTAACGCAATGACACCAAGCACGTCATCGTTACGTACTACCAGCACTACCGTTTGCCCGGCGCTTTCCAGTTCGTTAATTAAACCAGCAAATGCATCAGCGGGATGTTTCCCGGCAGCGCAAATCAATACGCGCTCACCGTTAACCTGCGCTTCAATGCCAGACCCGACCAGCGCCCGCTGTGATTCGGCGGCGGGAATGGCGAGTGCAGCAACCTGTGCTTCTCGCACGATGGCCTGCGCCAGTGGATGCGTCGCGCCTTGCTCGACCG'

In [45]:
len(a.ref_seq_alignment[9379])

19142

In [46]:
len(a.seq_alignment[9379])

19142

In [ ]:
## Per tagliare la sequenza
# 1. prendo la stringa di riferimento e la taglio da c a c+max_str_len
# 2. scorro la sequenza e seq_alignment finchè non trovo il carattere iniziale e finale (?!?!)
# 3. taglio!